.reviews_container {
	margin-top: 10%;
	padding: 20px;
}

.star-ratings {
	border-top: 1px solid black;
}

#star_container {
	display: flex;
}

#company_rating {
	margin-top: 8px;
	margin-left: 10px;
	font-weight: 700;
}

.card-body {
	margin: 10px;
}

.no-gutters {
	box-shadow: 10px 5px 5px lightgray;
}

.card-title {
	border: none;
	text-decoration: none;
	font-size: 1.5em;
	margin-bottom: -.01em;
}

.col-md-1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-md-1 img {
	margin-left: 25%;
	border: 3px solid gray;
}

.review_box {
	border-top: 1px solid black;
	width: 100%;
	text-align: center;
	margin: 20px;
}

.review_form {
	text-align: left;
	border-bottom: 1px solid black;
}

.btn-danger {
	background-color: rgb(255,79,83);
	margin-bottom: 10px;
}

#submit_area {
	text-align: right;
}

#collapse_button {
	margin-top: 10px;
}

#review-card {
	text-align: left;
}